<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--? FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--? Main Style -->
    <link rel="stylesheet" href="../../assets/css/app/mainStyle.css">
    <!--? analytics Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/analytics.css">
    <!--? Overview Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/Overview.css">
    <!--? Response Analysis Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/ResponseAnalysis.css">
    <!--? Comparison Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/Comparison.css">
    <!--? Graphs Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/reports.css">
    <!--? Reports Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/reports.css">
    <!--? datatable Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/datatable/datatables.css">
    <!--? datatable buttons Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/datatable/datatableButtons.css">
    <!--? datatable responsive Style -->
    <link rel="stylesheet" href="../../assets/css/analytics/datatable/datatableResponsive.css">
    <title>SDGKU analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<!--  -->

<body>
    <!--? Header  -->
    <header class="header">
        <div class="headerLogo">
            <img src="../../assets/images/SDGKU_Small_Logo.png" alt="logo" class="small-logo">
            <div class="full-logo"></div>
            <h1 class="header-title">SDGKU Survey Platform</h1>
        </div>
        <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="headerBtn">
            <button class="headerBtnOut">Logout <i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
    </header>
    <div class="dashboard-container">
        <aside>
            <nav>
                <a href="../app/dashboard.html" class="sideLink">
                    <i class="fa-solid fa-house-user"></i>
                    <p>Dashboard</p>
                </a>

                <a href="../surveys/mySurveys.html" class="sideLink">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <p>My Surveys</p>
                </a>

                <a href="../surveys/createSurvey.html" class="sideLink">
                    <i class="fa-solid fa-circle-plus"></i>
                    <p>Create Survey</p>
                </a>

                <a href="../analytics/analytics.html" class="sideLink selectLink">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    <p>Analytics</p>
                </a>

                <a href="../app/users.php" class="sideLink">
                    <i class="fa-solid fa-users"></i>
                    <p>Users</p>
                </a>

                <a href="../app/settings.html" class="sideLink">
                    <i class="fa-solid fa-cog"></i>
                    <p>Settings</p>
                </a>
                <div class="asideLogOutBtn">
                    <button class="asideBtnOut">Logout</button>
                </div>
            </nav>
        </aside>

        <main>
            <div class="principalDashboard">
                <!--? Empezar a trabajar aqui -->

                <div class="principalAnalytics">

                    <div class="analyticsSurveyInfo">
                        <div class="headInfo">
                            <h2>Analytics Dashboard</h2>
                            <small>
                                View insights and statistics from your surveys
                            </small>
                        </div>
                    </div>

                    <!--? Section bar -->
                    <div class="SurveyOptions">
                        <button onclick="showOptionSelected('panel1')" class="surveyOption selectedOption">
                            <h3>Survey Details</h3>
                        </button>
                        <button onclick="showOptionSelected('panel2')" class="surveyOption">
                            <h3>Mission Reviews</h3>
                        </button>
                        <button onclick="showOptionSelected('panel3')" class="surveyOption">
                            <h3>Pre-Post Analysis</h3>
                        </button>
                        <button onclick="showOptionSelected('panel4')" class="surveyOption">
                            <h3>Reports</h3>
                        </button>
                    </div>

                    <!--? Survey Details -->
                    <div class="analyticsGraphics">
                        <div id="panel1" class="panel visible">
                            <div class="overview visible">
                                <div class="overviewCard">
                                    <h1>Survey Overview</h1>
                                    <p>Summary of survey completion, types, questions, and ratings</p>
                                    <div class="comparisonSelections">
                                        <div class="surveySelect">
                                            <div class="programSelect">
                                                <div class="programItem">

                                                    <label for="survey">Survey type</label>
                                                    <select name="survey" id="surveyOverview">
                                                        <option value="opcion" disabled selected hidden>Please select survey type</option>
                                                        <!--* Program from db -->
                                                    </select>

                                                    <label for="programType">Program</label>
                                                    <select name="program" id="programIdOverview">
                                                        <option value="opcion" disabled selected hidden>Please select
                                                            program</option>
                                                        <!--* Program from db -->
                                                    </select>
                                                </div>
                                            </div>
                                            <button class="submitFilter" id="submitFilterbtnOverview">Apply
                                                filters</button>
                                        </div>

                                        <div class="surveySelect">
                                            <label for="yearRange">Year Range</label>
                                            <select name="yearRange" id="selectYearRangeIdOverview">
                                                <option value="opcion" disabled selected hidden>Please select year
                                                </option>
                                                <!--*  Trimester from db -->
                                            </select>

                                            <div class="dateSelect">
                                                <div class="dateItem">
                                                    <label for="dateRange">Range type</label>
                                                    <select name="dateRange" id="selectRangeTypeIdOverview">
                                                        <option value="opcion1" disabled selected hidden>Please select
                                                            range type</option>
                                                    </select>
                                                </div>

                                                <div class="dateItem">
                                                    <label for="dateRange">Date Range</label>
                                                    <select name="dateRange" id="selectDateRangeIdOverview">
                                                        <option value="opcion1" disabled selected hidden>Please select
                                                            date range</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="overviewTable" class="display nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Label</th>
                                                <th>Survey Type</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div class="exportButtons">
                                        <button id="btnOverviewCopy" class="btnExport"><i
                                                class="fa-solid fa-clipboard"></i></button>
                                        <button id="btnOverviewCsv" class="btnExport"><i
                                                class="fa-solid fa-file-csv"></i></button>
                                        <button id="btnOverviewExcel" class="btnExport"><i
                                                class="fa-solid fa-file-excel"></i></button>
                                        <button id="btnOverviewPDF" class="btnExport"><i
                                                class="fa-solid fa-file-pdf"></i></button>
                                        <button id="btnOverviewPrint" class="btnExport"><i
                                                class="fa-solid fa-print"></i></button>
                                    </div>
                                    <div id="overallAverageDisplay"
                                        style="display: flex; justify-content: center; margin-top: 1rem; font-weight: bold;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--? RESPONSE ANALYSIS -->
                        <div id="panel2" class="panel">
                            <div class="responseContainer">

                                <!--~ Filters -->
                                <div class="responseFilter">
                                    <div class="surveyResponseHeader">
                                        <h1>Mission Analysis</h1>
                                        <p>View average responses grouped by question</p>
                                    </div>

                                    <div class="responseSelections">
                                        <div class="surveySelect">
                                            <label for="programType">Program Type</label>
                                            <select name="programType" id="programTypeId">
                                                <option value="opcion" disabled selected hidden>Please select program
                                                    type</option>
                                                <option value="opcion1">Certificate Program</option>
                                                <option value="opcion2">Bachelors</option>
                                                <option value="opcion3">Masters</option>
                                                <!--* Program Types from db -->
                                            </select>
                                            <label for="selectProgram" class="programLabel">
                                                Program
                                                <p>(Only affects the tables)</p>
                                            </label>
                                            <select name="selectProgram" id="selectProgramId">
                                                <option value="opcion" disabled selected hidden>Please select program
                                                </option>
                                                <!--*  Trimester from db -->
                                            </select>
                                            <button class="submitFilter" id="submitFilterbtn">Apply filters</button>
                                        </div>

                                        <div class="surveySelect">
                                            <label for="yearRange">Year Range</label>
                                            <select name="yearRange" id="selectYearRangeId">
                                                <option value="opcion" disabled selected hidden>Please select year
                                                </option>
                                                <!--*  Trimester from db -->
                                            </select>
                                            <div class="dateSelect">
                                                <div class="dateItem">
                                                    <label for="dateRange">Range type</label>
                                                    <select name="dateRange" id="selectRangeTypeId">
                                                        <option value="opcion1" disabled selected hidden>Please select
                                                            range type</option>
                                                    </select>
                                                </div>
                                                <div class="dateItem">
                                                    <label for="dateRange">Date Range</label>
                                                    <select name="dateRange" id="selectDateRangeId">
                                                        <option value="opcion1" disabled selected hidden>Please select
                                                            date range</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--~ Graph -->
                                <div class="responseChartBox">
                                    <h2>All Programs Analysis</h2>
                                    <div class="subdued">Average ratings grouped by program</div>
                                    <canvas id="responseAnalysisChart"></canvas>
                                </div>

                                <!--~ Table -->
                                <div class="responseChartBox">
                                    <div class="responseHeader">
                                        <h2>Mission Review Table</h2>
                                        <div class="subdued">Average ratings grouped by selected option</div>
                                    </div>

                                    <div class="tableMain" id="responseAnalysisTable">
                                        <!--* Table content from db -->
                                    </div>
                                    <div class="tableMain" id="AllProgramsTable">
                                        <!--* Table content from db -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--? COMPARISON GRAPHICS-->
                        <div id="panel3" class="panel">
                            <div class="comparisonContainer">
                                <!--~ Filters -->
                                <div class="comparisonFilter">
                                    <div class="surveyComparisonHeader">
                                        <h1>Comparison Graph</h1>
                                        <p>Compare student knowledge before and after the course</p>
                                    </div>

                                    <div class="comparisonSelections">
                                        <div class="surveySelect">
                                            <div class="programItem">
                                                <label for="programType">Program Type</label>
                                                <select name="programType" id="programTypeIdComparison">
                                                    <option value="opcion" disabled selected hidden>Please select
                                                        program type</option>
                                                    <option value="opcion1">Certificate Program</option>
                                                    <option value="opcion2">Bachelors</option>
                                                    <option value="opcion3">Masters</option>
                                                    <!--* Program Types from db -->
                                                </select>
                                            </div>

                                            <div class="programSelect">
                                                <div class="programItem">
                                                    <label for="programType">Program</label>
                                                    <select name="program" id="programIdComparison">
                                                        <option value="opcion" disabled selected hidden>Please select
                                                            program</option>
                                                        <!--* Program from db -->
                                                    </select>
                                                </div>
                                            </div>
                                            <button class="submitFilter" id="submitFilterbtnComparison">Apply
                                                filters</button>
                                        </div>

                                        <div class="surveySelect">
                                            <label for="yearRange">Year Range</label>
                                            <select name="yearRange" id="selectYearRangeIdComparison">
                                                <option value="opcion" disabled selected hidden>Please select year
                                                </option>
                                                <!--*  Trimester from db -->
                                            </select>

                                            <div class="dateSelect">
                                                <div class="dateItem">
                                                    <label for="dateRange">Range type</label>
                                                    <select name="dateRange" id="selectRangeTypeIdComparison">
                                                        <option value="opcion1" disabled selected hidden>Please select
                                                            range type</option>
                                                    </select>
                                                </div>

                                                <div class="dateItem">
                                                    <label for="dateRange">Date Range</label>
                                                    <select name="dateRange" id="selectDateRangeIdComparison">
                                                        <option value="opcion1" disabled selected hidden>Please select
                                                            date range</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comparisonKnowledge">
                                    <!--~ Graph -->
                                    <div class="cards-container">
                                        <div class="stat-card red">
                                            <p class="label">Pre Avg</p>
                                            <p id="preAvgValue">--%</p>
                                        </div>
                                        <div class="stat-card yellow">
                                            <p class="label">Post Avg</p>
                                            <p id="postAvgValue">--%</p>
                                        </div>
                                        <div class="stat-card green">
                                            <p class="label">% Change</p>
                                            <p id="changeValue">--%</p>
                                        </div>
                                    </div>
                                    <div class="comparison-layout">
                                        <div class="chart-container">
                                            <canvas id="comparisonChart"></canvas>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--? Loading Modal  -->
                        <div id="loading-modal" class="modal" style="display:none;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Loading...</h2>
                                </div>
                                <div class="modal-body">
                                    <img src="../../assets/images/loading.svg" alt="Loading...">
                                </div>
                            </div>
                        </div>
                        <!--? REPORTS -->
                        <div id="panel4" class="panel">
                            <div class="reports">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--! Download report Modal -->
        <div id="report-download-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Download Report</h2>
                    <span class="close-modal">&times;</span>
                </div>
                <div class="modal-body">
                    <p>Select the format to download the report:</p>
                    <input type="hidden" id="downloadReportId">
                    <div class="form-actions">
                        <button type="button" class="btn btn-cancel">Cancel</button>
                        <button type="button" class="btn btn-danger" id="download-EXCEL">Excel</button>
                        <button type="button" class="btn btn-danger" id="download-CSV">CSV</button>

                    </div>
                </div>
            </div>
        </div>

        <!--! Notificaciones -->
        <div id="notification" class="notification" style="display:none;"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../assets/js/app/main.js"></script>
    <script src="../../assets/js/analytics/reports.js"></script>
    <script src="../../assets/js/analytics/analytics.js"></script>
    <script src="../../assets/js/analytics/comparison.js"></script>
    <script src="../../assets/js/analytics/Response_Analysis.js"></script>
    <script src="../../assets/js/analytics/datatables/datatables.js"></script>
    <script src="../../assets/js/analytics/datatables/datatableButtons.js"></script>
    <script src="../../assets/js/analytics/datatables/datatableResponsive.js"></script>
    <script src="../../assets/js/analytics/datatables/buttonshtml.js"></script>
    <script src="../../assets/js/analytics/datatables/buttonsprint.js"></script>
    <script src="../../assets/js/analytics/datatables/jszip.js"></script>
    <script src="../../assets/js/analytics/datatables/pdfmake.js"></script>
    <script src="../../assets/js/analytics/datatables/vfs_fonts.js"></script>
    <script src="../../assets/js/analytics/filters.js"></script>
    <script src="../../assets/js/auth/logout.js"></script>
</body>

</html>