.overview{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
}

.overviewCard{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    background-color: var( --neutral-light);
    box-shadow: var(--box-shadow);

}

.overviewCard h1{
    font-size: var(--text-heading);
    color: var(--neutral-dark);
}

.overviewCard p{
    font-size: var(--text-subheading);
    color: var(--neutral-dark);
}