.reportCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    padding: 10px 10px 100px;
    margin: 0px;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

.reportCard {
    display: flex;
    flex-direction: column;
    height: 300px!important;
    border: 1px solid #ddd;
    width: 400px;
    padding: 1rem;
    margin-bottom: 1 rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s, transform 0.3s;
}

.reportCard:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.downloadBtn {
    background-color: var(--primary-dominant);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.downloadBtn:hover {
    background-color: var(--secondary-dominant);
}

@media (max-width: 768px) {
    .reportCardsContainer {
        grid-template-columns: 1fr;
    }
}



/* !------------------Cards--------------- */

.principalInformation{
    height: 100px!important;
}
/* cada survey de la lista */

.reportCard h3{
    font-size: large;
}

.surveyStatus p{
    color: var(--success-color);
    border-style: solid;
    border-width: 1px;
    height: 27px;
    border-color: var(--success-color);
    border-radius: 20px;
    width: 80px;
    display: flex;
    justify-content: center;
}
/* type y status */
.typeTitle p{
    color: var(--neutral-light);
    border-style: solid;
    height: 27px;
    border: 1px;
    background-color: rgb(244, 151, 29, 0.8);
    /* border-color: var(--supplementary-dark); */
    border-radius: 20px;
    width: 67%;
    display: flex;
    justify-content: center;
}

.surveytitle{
    width: 250px;
}
.activeTitleStatus{   
    display: flex;
    justify-content: center;
    gap: 10%;
}

/*Estilos de botones actives*/
/* ------------------------------------ */
.actions{
    display: flex;
    justify-content: center;
}

.results-btn {    
    padding: 0.5rem 1rem;
    width: 150px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.results-btn:hover {
    background-color: var(--primary-dominant);
    transition: transform 0.2s ease-in-out;
    color: var(--neutral-light);
}

.results-btn {
    background-color: var(--secondary-dominant);
    color:var(--neutral-light);
    margin-left: 0.5rem;
}

.survey-details {
    margin: 10px;;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    color: var(--gray-500);
    font-size: 0.9rem;
}

.reportCard.inactive .surveyStatus p {
    color: var(--secondary-dominant); /* Rojo para inactive */
    border-color: var(--secondary-dominant);
}
