.principalDashboard {
  overflow-y: auto; 
  overflow-x: hidden;
  margin-left: 250px;
  padding-left: 40px;
  padding-bottom: 20px; 
  width: calc(100% - 250px);
  min-height: calc(100vh - 70px);
}

.createSurveyOptions {
  background-color: var(--gray-300);
  display: flex; 
  flex-direction: row;
  width: 40%;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
  border-radius: var(--border-radius);
  padding: 5px;
}

.contentTitle h3 {
  margin-bottom: 0.2rem; 
}

.contentTitle p {
  margin-top: 0;
}

/*? security */
.securityContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 81vw;
  padding: 1rem;
  margin: 1rem 0;  
  border-radius: var(--border-radius);
  background-color: var(--neutral-light);
  border: 1px solid var(--gray-300);
  box-shadow: var(--box-shadow);
}

.securityContent button {
  background-color: var(--secondary-dominant);
  height: 40px; 
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 0 10px;
  font-size: 1rem;
  margin-top: 1rem;
}

.securityContent button:hover {
  background-color: var(--primary-dominant);
}

.securityInfo{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
}

.securityInput{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
  font-weight: bold;
}

.securityInput select {
  width: 100%;
  height: 46px;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  font-size: 1rem;
}

.securityInput textarea {
  width: 100%;
  height: 150px; 
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  font-size: 1rem;
  resize: none; 
  
}

/*? <|--------------------------manage Data--------------------------|> */

.manageDataContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 81vw;
  padding: 1rem;
  margin: 1rem 0;  
  border-radius: var(--border-radius);
  background-color: var(--neutral-light);
  border: 1px solid var(--gray-300);
  box-shadow: var(--box-shadow);
}

.manageDataContent button {
  background-color: var(--secondary-dominant);
  height: 40px; 
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 0 10px;
  font-size: 1rem;
  margin-top: 1rem;
}

.manageDataContent button:hover {
  background-color: var(--primary-dominant);
}

.manageDataInput{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 99%;
  font-weight: bold;
}

.manageDataInput select {
  width: 100%;
  height: 46px;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  font-size: 1rem;
}

.manageDataInput textarea {
  width: 100%;
  height: 150px; 
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  font-size: 1rem;
  resize: none; 
  
}

/** sub: Programs  */
.addProgramContent {
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width:99%;
}

.addProgram{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: .5rem;
}

.addProgram p {
  margin: 0;
  padding: 0;
  font-size: .8rem;
  text-align: center;
  color: var(--gray-500);
}

.addProgramContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.addProgramContainer button {
  padding: 0;
  margin: 0;
}

/** sub: Cohort  */
.addCohortContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 99%;
}

.addCohort{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: .5rem;
}

.addCohort p {
  margin: 0;
  padding: 0;
  font-size: .8rem;
  text-align: center;
  color: var(--gray-500);
}

.addCohortContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.addCohortContainer button {
  padding: 0;
  margin: 0;
}

/** sub: Course  */
.addCourseContent {
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width:99%;
}

.addCourse{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: .5rem;
}

.addCourse p {
  margin: 0;
  padding: 0;
  font-size: .8rem;
  text-align: center;
  color: var(--gray-500);
}

.addCourseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.addCourseContainer button {
  padding: 0;
  margin: 0;
} 