<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--? FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--? Main Style -->
    <link rel="stylesheet" href="../../assets/css/app/mainStyle.css">
    <!--? analytics Style -->
    <link rel="stylesheet" href="../../assets/css/auth/settings.css">
    <title>SDGKU Settings </title>
</head>
    
<!--  -->
<body> 
    <!--? Header  -->
    <header class="header">
        <div class="headerLogo">
            <img src="../../assets/images/SDGKU_Small_Logo.png" alt="logo" class="small-logo">
            <div class="full-logo"></div>
            <h1 class="header-title">SDGKU Survey Platform</h1>
        </div>
        <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="headerBtn">
            <button class="headerBtnOut">Logout</button>
        </div>
    </header>
    <div class="dashboard-container">
        <aside>
            <nav>
                <a href="dashboard.html" class="sideLink ">
                    <i class="fa-solid fa-house-user"></i>
                    <p>Dashboard</p>
                </a>
                
                <a href="../surveys/mySurveys.html" class="sideLink">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <p>My Surveys</p>
                </a>
                
                <a href="../surveys/createSurvey.html" class="sideLink">
                    <i class="fa-solid fa-circle-plus"></i>
                    <p>Create Survey</p>
                </a>
                
                <a href="../analytics/analytics.html" class="sideLink">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    <p>Analytics</p>
                </a>
                
                <a href="users.html" class="sideLink">
                    <i class="fa-solid fa-users"></i>
                    <p>Users</p>
                </a>
                
                <a href="settings.html" class="sideLink selectLink">
                    <i class="fa-solid fa-cog"></i>
                    <p>Settings</p> 
                </a>
                <div class="asideLogOutBtn">
                    <button class="asideBtnOut">Logout</button>
                </div>
            </nav>
            
            <div class="profile">
                <div class="profile-img">
                    <!--? Imagen del Usuario(if no image, use icon) -->
                    <i class="fa-solid fa-circle-user" id = "userFoto"></i>
                </div>
                
                <div class="profile-info">
                    <h4>
                        <!--? Rol del Usuario -->
                        Rol del Usuario
                    </h4>

                    <small>
                        <!--? Nombre del Usuario -->
                        Nombre del Usuario
                    </small>
                </div>
            </div>
        </aside>

        <main>
            <div class="principalDashboard">
                <!--? Empezar a trabajar aqui -->
                    <h2 class="settings-title">Settings</h2>
                
                    <div class="createSurveyOptions" id="createSurveyOptions">
                        <div class="surveyOption selectedOption" id="security">
                            <h3>Security</h3>
                        </div>

                        <div class="surveyOption " id="manageData">
                            <h3>Manage Data</h3>
                        </div>
                    </div>
                    
                    <div class="settings-content">
                        <!--? Security  -->
                        <div class="securityContent" id="securitySection" style="display: block;">
                            <div class="contentTitle">
                                <h3>Security Settings</h3>
                                <p>Update your password and security preferences</p>
                            </div>

                            <div class="securityInfo">
                                <div class="securityInput">
                                    <label>Current Password</label>
                                    <input type="password" id="current-password-security" class="input" />
                                </div>
                                
                                <div class="securityInput">
                                    <label>New Password</label>
                                    <input type="password" id="new-password-security" class="input" />
                                </div>
                                
                                <div class="securityInput">
                                    <label>Confirm New Password</label>
                                    <input type="password" id="confirm-password-security" class="input" />
                                </div>
                                
                                <button type="submit" class="save-btn" id="change-password-btn-security">Change Password</button>
                            </div>
                        </div>

                        <!--? Manage Data -->
                        <div class="manageDataContent" id="manageDataSection" style="display: none;">
                            <div class="contentTitle">
                                <h3>Manage Data</h3>
                                <p>Add, delete, and organize your programs, cohorts, and courses</p>
                            </div>

                            <div class="addProgramContent">
                                <div class="manageDataInput">
                                    <label for="ProgramType">Program Type</label>
                                    <select id="programType" required>
                                        <option value="" disabled selected hidden>Chose a program type</option>
                                        <!--! options from the db -->
                                    </select>
                                </div>

                                <div class="manageDataInput">
                                    <div class="addProgram">
                                        <label for="addProgram">Add Program</label>
                                        <p>(Depends on Program Type)</p>
                                    </div>
                                    <div class="addProgramContainer">
                                        <input type="text" id="newProgram" placeholder="Enter new program" required>
                                        <button id="addProgram">Add</button>
                                    </div>
                                </div>
                            </div>

                            <div class="addCohortContent">
                                <div class="manageDataInput">
                                    <label for="program">Program</label>
                                    <select id="program" required>
                                        <option value="" disabled selected hidden>Chose a program</option>
                                        <!--! options from the db -->
                                    </select>
                                </div>

                                <div class="manageDataInput">
                                    <div class="addCohort">
                                        <label for="addCohort">Add Cohort</label>
                                        <p>(Depends on program)</p>
                                    </div>
                                    <div class="addCohortContainer">
                                        <input type="text" id="newCohort" placeholder="Enter new cohort" required>
                                        <button id="addCohort">Add</button>
                                    </div>
                                </div>
                                
                                <div class="manageDataInput">
                                    <div class="addCourse">
                                        <label for="addCourse">Add Course</label>
                                        <p>(Depends on program)</p>
                                    </div>
                                    <div class="addCourseContainer">
                                        <input type="text" id="newCourse" placeholder="Enter new Course" required>
                                        <button id="addCourse">Add</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../../assets/js/app/main.js"></script>
    <script src="../../assets/js/app/settings.js"></script>
    <script src="../../assets/js/auth/logout.js"></script>
</body>
</html>