<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--? FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--? Main Style -->
    <link rel="stylesheet" href="../../assets/css/app/mainStyle.css">
    <!--? analytics Style -->
    <link rel="stylesheet" href="../../assets/css/auth/settings.css">
    <title>SDGKU Settings </title>
</head>
    
<!--  -->
<body> 
    <!--? Header  -->
    <header class="header">
        <div class="headerLogo">
            <img src="../../assets/images/SDGKU_Small_Logo.png" alt="logo" class="small-logo">
            <div class="full-logo"></div>
            <h1 class="header-title">SDGKU Survey Platform</h1>
        </div>
        <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="headerBtn">
            <button class="headerBtnOut">Logout</button>
        </div>
    </header>
    <div class="dashboard-container">
        <aside>
            <nav>
                <a href="dashboard.html" class="sideLink ">
                    <i class="fa-solid fa-house-user"></i>
                    <p>Dashboard</p>
                </a>
                
                <a href="../surveys/mySurveys.html" class="sideLink">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <p>My Surveys</p>
                </a>
                
                <a href="../surveys/createSurvey.html" class="sideLink">
                    <i class="fa-solid fa-circle-plus"></i>
                    <p>Create Survey</p>
                </a>
                
                <a href="../analytics/analytics.html" class="sideLink">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    <p>Analytics</p>
                </a>
                
                <a href="users.php" class="sideLink">
                    <i class="fa-solid fa-users"></i>
                    <p>Users</p>
                </a>
                
                <a href="settings.html" class="sideLink selectLink">
                    <i class="fa-solid fa-cog"></i>
                    <p>Settings</p> 
                </a>
                <div class="asideLogOutBtn">
                    <button class="asideBtnOut">Logout</button>
                </div>
            </nav>
        </aside>

        <main>
            <div class="principalDashboard">
                <!--? Empezar a trabajar aqui -->
                    <h2 class="settings-title">Settings</h2>
                
                    <div class="createSurveyOptions" id="createSurveyOptions">
                        <div class="surveyOption selectedOption" id="security">
                            <h3>Security</h3>
                        </div>

                        <div class="surveyOption " id="manageData">
                            <h3>Manage Data</h3>
                        </div>
                    </div>
                    
                    <div class="settings-content">
                        <!--? Security  -->
                        <div class="securityContent" id="securitySection">
                            <div class="contentTitle">
                                <h3>Security Settings</h3>
                                <p>Update your password and security preferences</p>
                            </div>

                            <div class="securityInfo">
                                <div class="securityInput">
                                    <label>Current Password</label>
                                    <input type="password" id="current-password-security" class="input" />
                                </div>
                                
                                <div class="securityInput">
                                    <label>New Password</label>
                                    <input type="password" id="new-password-security" class="input" />
                                </div>
                                
                                <div class="securityInput">
                                    <label>Confirm New Password</label>
                                    <input type="password" id="confirm-password-security" class="input" />
                                </div>
                                
                                <button type="submit" class="save-btn" id="change-password-btn-security">Change Password</button>
                            </div>
                        </div>

                        <!--! |------------------Manage Data------------------| -->

                        <!--? Add Data -->
                        <div class="manageDataContent" id="manageDataSection">
                            <div class="addContent">
                                <div class="contentTitle">
                                    <h3>Add Data</h3>
                                    <p>Add more programs, cohorts, and courses</p>
                                </div>
                                
                                <div class="addProgramContent">
                                    <div class="manageDataInput">
                                        <label for="ProgramType">Program Type</label>
                                        <select id="programType" required>
                                            <option value="" disabled selected hidden>Choose a program type</option>
                                            <!--! options from the db -->
                                        </select>
                                    </div>
                                    
                                    <div class="manageDataInput">
                                        <div class="addProgram">
                                            <label for="addProgram">Add Program</label>
                                            <p>(Depends on Program Type)</p>
                                        </div>
                                        <div class="addProgramContainer">
                                            <input type="text" id="newProgram" placeholder="Enter new program" required>
                                            <button id="addProgram">Add</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="addCohortContent">
                                    <div class="manageDataInput">
                                        <label for="program">Program</label>
                                        <select id="program" required>
                                            <option value="" disabled selected hidden>Choose a program</option>
                                            <!--! options from the db -->
                                        </select>
                                    </div>
                                    
                                    <div class="manageDataInput">
                                        <div class="addCourse">
                                            <label for="addCourse">Add Course</label>
                                            <p>(Depends on program)</p>
                                        </div>
                                        <div class="addCourseContainer">
                                            <input type="text" id="newCourse" placeholder="Enter new Course" required>
                                            <button id="addCourse">Add</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="addCohortContent">
                                    <div class="manageDataInput">
                                        <div class="addCohort">
                                            <label for="addCohort">Add Cohort(CH)</label>
                                            <p>(Depends on program)</p>
                                        </div>
                                        <div class="addCohortContainer">
                                            <input type="text" id="newCohort" placeholder="Enter new CH-(Cohort number)" required>
                                            <button id="addCohort">Add</button>
                                        </div>
                                    </div>

                                    <div class="manageDataInput">
                                        <div class="addCohort">
                                            <label for="addSection">Add Section(SC)</label>
                                            <p>(Depends on program)</p>
                                        </div>
                                        <div class="addCohortContainer">
                                            <input type="text" id="newSection" placeholder="Enter new SC-(Section number)" required>
                                            <button id="addSection">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--? Delete Data -->
                            <div class="deleteContent">
                                <div class="contentTitle">
                                    <h3>Delete Data</h3>
                                    <p>delete unused programs, cohorts, and courses</p>
                                </div>

                                <div class="deleteProgramContent">
                                    <div class="manageDataInput">
                                        <label for="deleteProgramType">Program Type</label>
                                        <select id="deleteProgramType" required>
                                            <option value="" disabled selected hidden>Choose a program type</option>
                                            <!--! options from the db -->
                                        </select>
                                    </div>

                                    <div class="manageDataInput">
                                        <div class="deleteProgramTitle">
                                            <label for="deleteProgram">Program</label>
                                            <p>(Depends on program type)</p>
                                        </div>
                                        <div class="deleteContainer">
                                            <select id="deleteProgram" required>
                                                <option value="" disabled selected hidden>Choose a program to delete</option>
                                                <!--! options from the db -->
                                            </select>
                                            <button id="deleteProgramBtn">Delete</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="addCohortContent">
                                    
                                    <div class="manageDataInput">
                                        <div class="deleteProgramTitle">
                                            <label for="deleteCohort">Cohort/Section</label>
                                            <p>(Depends on program)</p>
                                        </div>
                                        <div class="deleteContainer">
                                            <select id="deleteCohort" required>
                                                <option value="" disabled selected hidden>Choose a Cohort/Section to delete</option>
                                                <!--! options from the db -->
                                            </select>
                                            <button id="deleteCohortBtn">Delete</button>
                                        </div>
                                    </div>

                                    <div class="manageDataInput">
                                        <div class="deleteProgramTitle">
                                            <label for="deleteCourse">Course</label>
                                            <p>(Depends on program)</p>
                                        </div>
                                        <div class="deleteContainer">
                                            <select id="deleteCourse" required>
                                                <option value="" disabled selected hidden>Choose a Course to delete</option>
                                                <!--! options from the db -->
                                            </select>
                                            <button id="deleteCourseBtn" data-Course="">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--! Delete program Modal -->
                    <div id="delete-program-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Delete program</h2>
                                <span class="close-modal">&times;</span>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this progam? it will erase all cohorts/sections and Courses that are related</p>
                                <p>This action cannot be undone.</p>
                                <input type="hidden" id="delete-Program-id">
                                <div class="form-actions">
                                    <button type="button" class="btn btn-cancel" id="cancel-delete">Cancel</button>
                                    <button type="button" class="btn btn-danger" id="confirm-delete-program">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--! Delete Cohort Modal -->
                    <div id="delete-cohort-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Delete Cohort</h2>
                                <span class="close-modal">&times;</span>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this Cohort? This action cannot be undone.</p>
                                <input type="hidden" id="delete-Cohort-id">
                                <div class="form-actions">
                                    <button type="button" class="btn btn-cancel" id="cancel-delete">Cancel</button>
                                    <button type="button" class="btn btn-danger" id="confirm-delete-cohort">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--! Delete Course Modal -->
                    <div id="delete-course-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Delete Course</h2>
                                <span class="close-modal">&times;</span>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this Course? This action cannot be undone.</p>
                                <input type="hidden" id="delete-Course-id">
                                <div class="form-actions">
                                    <button type="button" class="btn btn-cancel" id="cancel-delete">Cancel</button>
                                    <button type="button" class="btn btn-danger" id="confirm-delete-course">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="notification" class="notification"></div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../../assets/js/app/main.js"></script>
    <script src="../../assets/js/app/settings.js"></script>
    <script src="../../assets/js/auth/logout.js"></script>
</body>
</html>