/*!  Cambier si se necesita alterar algo del main en el display */
.principalDashboard{
    overflow: auto;
    margin-left: 250px;
    width: calc(100% - 250px);
    height: auto;
    overflow-x: hidden;
}

body {
  
}

canvas {
    max-width: 600px;
    margin: auto;
}