<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--? FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--? Main Style -->
    <link rel="stylesheet" href="../../assets/css/app/mainStyle.css">
    <!--? My surveys Style -->
    <link rel="stylesheet" href="../../assets/css/surveys/mySurveys.css">
    <title>SDGKU My surveys</title>
    
</head>
    
<!--  -->
<body> 
    <!--? Header  -->
    <header class="header">
        <div class="headerLogo">
            <img src="../../assets/images/SDGKU_Small_Logo.png" alt="logo" class="small-logo">
            <div class="full-logo"></div>
            <h1 class="header-title">SDGKU Survey Platform</h1>
        </div>
        <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="headerBtn">
            <button class="headerBtnOut">Logout</button>
        </div>
    </header>
    <div class="dashboard-container">
        <aside>
            <nav>
                <a href="../app/dashboard.html" class="sideLink">
                    <i class="fa-solid fa-house-user"></i>
                    <p>Dashboard</p>
                </a>
                
                <a href="../surveys/mySurveys.html" class="sideLink selectLink">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <p>My Surveys</p>
                </a>
                
                <a href="../surveys/createSurvey.html" class="sideLink">
                    <i class="fa-solid fa-circle-plus"></i>
                    <p>Create Survey</p>
                </a>
                
                <a href="../analytics/analytics.html" class="sideLink">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    <p>Analytics</p>
                </a>
                
                <a href="../app/users.html" class="sideLink">
                    <i class="fa-solid fa-users"></i>
                    <p>Users</p>
                </a>
                
                <a href="../app/settings.html" class="sideLink">
                    <i class="fa-solid fa-cog"></i>
                        <p>Settings</p> 
                </a>

                <div class="asideLogOutBtn">
                    <button class="asideBtnOut">Logout</button>
                </div>
            </nav>
            
            <div class="profile">
                <div class="profile-img">
                    <!--? Imagen del Usuario(if no image, use icon) -->
                    <i class="fa-solid fa-circle-user" id = "userFoto"></i>
                </div>
                
                <div class="profile-info">
                    <h4>
                        <!--? Rol del Usuario -->
                        Rol del Usuario
                    </h4>

                    <small>
                        <!--? Nombre del Usuario -->
                        Nombre del Usuario
                    </small>
                </div>
            </div>
        </aside>

        <main>
            <div class="principalDashboard">
                <!--? Empezar a trabajar aqui -->
                <div class="mySurveysHeader">
                    <!-- Mini Header -->
                    <div class="dashboardDescription">
                        
                        <h2>My Surveys</h2>
                        <p>Manage your created surveys</p>
                        <div class="mySurveyOptions">
                            <button id="activeBtnId" class="surveyOption selectedOption">
                                <h3>Active Surveys</h3>
                            </button>
                            <button id="inactiveBtnId" class="QUsurveyOption">
                                <h3>Inactive Surveys</h3>
                            </button>
                        </div>
                    </div>
                    
                    <div class="searchAndCreate">
                        <div class="searchContainer">
                            <i class="fa-solid fa-magnifying-glass search-icon"></i>
                            <input type="text" id="searchSurveyId" placeholder="Search Surveys...." >
                        </div>
                        
                        <a href="../surveys/createSurvey.html" class="createSurveyBtn">
                            <i class="fa-solid fa-calendar-plus"></i>
                            <p>Create Survey</p>
                        </a>
                    </div>
                </div>
                <div class="mySurveyButtons">
                    <!-- active/Invective Surveys buttons -->
                    
                </div>
                <div id="panel1" class="panel visible">
                    <div id="activeSectionId" class="activeSurveysId">
                        <!-- active Surveys -->    
                        <ul class="activeSurveyList" id="activeListId">
                            <!-- Las encuestas activas se agregaran aqui -->
                        </ul>
                        <div class="divisionBottom"></div>
                    </div>
                </div>
                <div id="panel2" class="panel">
                    <div id="inactiveSectionId" class="inactiveSurveysId">
                        <!-- Inactive Surveys -->
                        <ul class="inactiveSurveyList" id="inactiveListId">
                            <!-- Las encuestas inactivas se agregaran aqui -->
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../../assets/js/app/main.js"></script>
    <script src="../../assets/js/surveys/mySurveys.js"></script>
    <script src="../../assets/js/auth/logout.js"></script>
</body>
</html>