/* ? Dashboard */
.principalDashboard {
    overflow-y: auto; 
    overflow-x: hidden;
    margin-left: 250px;
    padding-left: 40px;
    padding-bottom: 20px; 
    width: calc(100% - 250px);
    min-height: calc(100vh - 70px);
}
/** Dashboard Media*/


/**<--------------------------->*/

/* ? SurveyInfo */
.SurveyInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 81vw;
    padding: 1rem;
    margin: 1rem 0; 
    border-radius: var(--border-radius);
    background-color: var(--neutral-light);
    border: 1px solid var(--gray-300);
    box-shadow: var(--box-shadow);
}

.infoTitle h3 {
    margin-bottom: 0.2rem; 
}

.infoTitle p {
    margin-top: 0;
}

.questionFormsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 99%;
    font-weight: bold;
}

.infoContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem; 
}

.infoInput{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 99%;
    font-weight: bold;
}

.infoInput select {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    font-size: 1rem;
}

.infoInput textarea {
    width: 100%;
    height: 150px; 
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    font-size: 1rem;
    resize: none; 
    
}

.infoTypeDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 99%;
    font-weight: bold;
}

.infoContent button {
    background-color: var(--secondary-dominant);
    height: 40px; 
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0 10px;
    font-size: 1rem;
}

.infoContent button:hover {
    background-color: var(--primary-dominant);
}
/** SurveyInfo Media*/


/**<--------------------------->*/

/* ? SurveyQuestions */
.SurveyQuestions{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 81vw;
    padding: 1rem;
    margin: 1rem 0; 
    border-radius: var(--border-radius);
    background-color: var(--neutral-light);
    border: 1px solid var(--gray-300);
    box-shadow: var(--box-shadow);
}
/** SurveyQuestions Media*/


/**<--------------------------->*/

/* ? QuestionContent */
.QuestionContent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem; 
    margin: 0 .5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-400);
}

.QuestionInput{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 99%;
    font-weight: bold;
}

.QuestionInput select {
    width: 50%;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    font-size: 1rem;
}

.QuestionInput textarea {
    width: 100%;
    height: 150px; 
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    font-size: 1rem;
    resize: none; 
    
}

.QuestionContent .deleteBtn {
    background-color: var(--secondary-dominant);
    color: var(--neutral-light);
}

.QuestionContent .deleteBtn:hover {
    background-color: var(--primary-dominant);
    border: none;
    color: var(--neutral-light);
    transition: ease-in-out 0.3s;
}

.QuestionContent button {
    background-color: var(--neutral-light);
    height: 40px; 
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0 10px;
    font-size: 1rem;
    gap: 0.5rem;
    border: 1px solid var(--gray-400);
    color: var(--neutral-dark);
    transition: ease-in-out 0.3s;
}

.QuestionContent button:hover {
    background-color: var(--supplementary-color);
    border: none;
    color: var(--neutral-light);
    transition: ease-in-out 0.3s;
}

.QuestionTitle {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 99%;
    font-weight: bold;
}
/** QuestionContent Media*/


/**<--------------------------->*/

/* ? QuestionMultiple */
.QuestionMultiple {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    width: 99%;
    font-weight: bold;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.optionInput {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 99%;
    font-weight: bold;
    margin-bottom: 1rem !important;
}

.optionInput i {
    font-size: 1.5rem;
    color: var(--gray-500);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.optionInput i:hover {
    color: var(--neutral-dark);
    transition: ease-in-out 0.3s;
}

.btnQuestion{
    display: flex;
    flex-direction:  column;
    gap: .5rem;
    margin-top: .5rem;
}

.btnAddQuestion{
    background-color: var(--supplementary-color);
    height: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.btnAddQuestion:hover {
    background-color: var(--supplementary-dark);
    border: none;
    color: var(--neutral-light);
    transition: ease-in-out 0.3s;
}

.QuestionEndBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.QuestionEndBtn button {
    height: 40px;
    width: 220px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backBtn{
    background-color: var(--neutral-light);
    color: var(--neutral-dark);
    border: 1px solid var(--gray-400);
}

.backBtn:hover {
    background-color: var(--supplementary-color);
    border: none;
    color: var(--neutral-light);
    transition: ease-in-out 0.3s;
}

.nextBtn{
    background-color: var(--secondary-dominant);
    color: var(--neutral-light);
}

.nextBtn:hover {
    background-color: var(--primary-dominant);
    border: none;
    color: var(--neutral-light);
    transition: ease-in-out 0.3s;
}

.answerDiscpription {
    font-size: .9rem;
    color: var(--gray-500);
    font-weight: normal;

}
/** QuestionMultiple Media*/


/**<--------------------------->*/

/* ? QuestionGrade */
.QuestionGrade {
    display: flex;
    flex-direction: column;
    gap: .3rem; 
    width: 99%;
    font-weight: bold;
}

.gradeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 50%;
    font-weight: bold;
}

.gradeContainer input {
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.gradeContainer input:checked {
    background-color: var(--success-color);
    border-color: var(--success-color-dark);
}

.gradeContainer label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--neutral-dark);
    display: flex;
    align-items: center;
    margin-left: 0.5rem; 
    white-space: nowrap;      
}
/** QuestionGrade Media*/


/**<--------------------------->*/

/* ? QuestionOpen */
.QuestionOpen {
    display: flex;
    flex-direction: column;
    gap: .3rem; 
    width: 99%;
    font-weight: bold;
}

.OpenInput textarea {
    width: 100%;
    height: 150px; 
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    font-size: 1rem;
    resize: none; 
    
}
/** QuestionOpen Media*/


/**<--------------------------->*/

/* ? QuestionTrueFalse */
.QuestionTrueFalse {
    display: flex;
    flex-direction: column;
    gap: .3rem; 
    width: 99%;
    font-weight: bold;
}

.TrueFalseContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 20%;
    font-weight: bold;
}

.TrueFalseContainer input {
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.TrueFalseContainer input:checked {
    background-color: var(--success-color);
    border-color: var(--success-color-dark);
}

.TrueFalseContainer label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--neutral-dark);
    display: flex;
    align-items: center;
    margin-left: 0.5rem; 
}
/** QuestionTrueFalse Media*/


/**<--------------------------->*/

/* ? SurveyPreview */
.SurveyPreview{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 81vw;
    padding: 1rem;
    margin: 1rem 0; 
    border-radius: var(--border-radius);
    background-color: var(--neutral-light);
    border: 1px solid var(--gray-300);
    box-shadow: var(--box-shadow);
    margin-bottom: 5px; 
}

.PreviewContent{
    display: flex;
    flex-direction: column;
    gap: 0.7rem; 
    padding: 1rem; 
    margin: 0 .5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-400);
}

.emailInput{
    width: 100%;
}

.emailContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--primary-dominant); 
    gap: 1rem;
    padding: .5rem;
    width: 99%;
}

.previewContainer h3 {
    color: var(--primary-dominant);
}

.previewContainer p {
    color: var(--gray-600);
}

.previewQuestion{
    display: flex;
    flex-direction: column;
    width: 99%;
    margin-bottom: 0.5rem; 
    font-weight: bold;
    color: var(--gray-600);
    margin-bottom: 1.5rem;
    /*! quitar si no convence*/
    padding-bottom: 1rem;
}

.expirationDate{
    width: 200px;
    height: 45px;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    background-color: var(--neutral-light);
    text-align: center;
}

/** SurveyPreview Media*/


/**<--------------------------->*/

/* ? PreviewMultipleOptions */
.multipleCoice{
    width: 20%;
}

.previewMultipleOptions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
    font-weight: bold;
}

.previewMultipleOptions input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.previewMultipleOptions input:checked {
    background-color: var(--secondary-dominant);
    border-color: var(--secondary-dominant);
}

.previewMultipleOptions label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--neutral-dark);
    display: flex;
    align-items: center;
    margin-left: 0.5rem; 
}

.correctAnswer input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.correctAnswer input:checked {
    background-color: var(--success-color);
    border-color: var(--success-color-dark);
}

.correctAnswer label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--neutral-dark);
    display: flex;
    align-items: center;    
}
/** PreviewMultipleOptions Media*/


/**<--------------------------->*/

/* ? PreviewGrade 1-5 */
.previewGrade5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 60%;
    font-weight: bold;
}

.previewGrade5 input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.previewGrade5 input:checked {
    background-color: var(--secondary-dominant);
    border-color: var(--secondary-dominant);
}

.previewGrade5 label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--neutral-dark);
    display: flex;
    align-items: center;
    margin-left: 0.5rem; 
}
/** PreviewGrade5 Media*/


/**<--------------------------->*/

/* ? PreviewGrade 1-3 */
.previewGrade3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 35%;
    font-weight: bold;
}

.previewGrade3 input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.previewGrade3 input:checked {
    background-color: var(--secondary-dominant);
    border-color: var(--secondary-dominant);
}

.previewGrade3 label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--neutral-dark);
    display: flex;
    align-items: center;
    margin-left: 0.5rem; 
}
/** PreviewGrade3 Media*/


/**<--------------------------->*/

/* ? PreviewOpenText */
.previewOpenText{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    font-weight: bold;
}

.previewOpenText textarea {
    width: 100%;
    height: 60px;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    font-size: 1rem;
    resize: none; 
    
}
/** PreviewOpenText Media*/


/**<--------------------------->*/

/* ? PreviewTrueFalse */
.previewTrueFalse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 20%;
    font-weight: bold;
}

.previewTrueFalse input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.previewTrueFalse input:checked {
    background-color: var(--secondary-dominant);
    border-color: var(--secondary-dominant);
}

.previewTrueFalse label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--neutral-dark);
    display: flex;
    align-items: center;
    margin-left: 0.5rem; 
}
/** PreviewTrueFalse Media*/


/**<--------------------------->*/

/* ? Misc */
.QuestionMultipleContainer{
    display: flex;
    flex-direction: row;
}
/** Misc Media*/


/**<--------------------------->*/